:root {
  --gray-dark: #34313d;
  --violet-dark: #3a3054;
  --violet: #4b3f6b;
  --gray: #9e9aa8;
  --gray-light: #979797;
  --light: white;
  --green: #2bd0d0;

  --font-xl: 5rem; /*80px*/
  --font-lg: 2.5rem; /*40px*/
  --font-md-lg: 1.375rem; /*22px*/
  --font-md: 1.5rem; /*20px*/
  --font-sd-lg: 1.125rem; /*18px*/
  --font-sd: 15px; /*15px*/
  --font-xs: 12px; /*12px*/

  --spacing-xl: 165px;
  --spacing-md: 64px;
  --spacing-st: 32px;
  --spacing-sm: 16px;

  --container-width: 1440px;

  --font: "Poppins", sans-serif;

  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 600px) {
  }
}

h1,
h2 {
}
h1 {
  font-size: var(--spacing-xl);
  letter-spacing: -2px;
  font-weight: bold;
}
h2 {
  font-size: var(--font-lg);
  line-height: 3rem;
  letter-spacing: -1;
  font-weight: bold;
}
h4 {
  letter-spacing: -0.25px;
  font-weight: bold;
}

p {
}
a {
}
blockquote {
}
.text-sm {
  font-size: 15px;
  line-height: 1.625;
}

.text-md-lg {
  color: var(--gray);
  line-height: 2.25rem;
  letter-spacing: 0.15px;
  font-size: var(--font-md-lg);
}

.text-sd-lg {
  color: var(--gray);
  line-height: 2rem;
  letter-spacing: 0.12px;
  font-size: var(--font-st-lg);
  font-weight: 500;
}

.text-sd {
  color: var(--gray);
  line-height: 1.625rem;
  letter-spacing: 0.12px;
  font-size: var(--font-sd);
  font-weight: 500;
}

.text-lg {
  font-size: 15px;
  line-height: 1.625rem;
}

a {
  text-decoration: none;
}

.nav_link {
  font-size: var(--font-sd);
  color: var(--gray);
  font-weight: bold;
}

.btn {
  background-color: var(--green);
  border: none;
  color: var(--light);
}

.btn_rounded-big {
  font-size: var(--font-md) color white;
  text-transform: capitalize;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 28px;
}

.btn--big {
  font-size: var(--font-md);
  padding: 18px 40px;
  border-radius: 10px;
  font-weight: bold;
}

.btn--xs {
  font-size: var(--font-sd);
  padding: 10px 31px;
  border-radius: 5px;
  font-weight: bold;
}

.btn--xs[data-active="true"] {
  background-color: var(--violet);
}

.full_W {
  max-width: 100%;
  width: 100%;
}

.search {
  border: none;
  padding: 14px 2rem;
  min-width: 80%;
  border-radius: 10px;
  line-height: 2.25rem;
  letter-spacing: 0.15px;
  font-weight: 500;
  font-size: var(--font-md);
}

.search::placeholder {
  color: var(--gray-dark);
  font-weight: 500;
  font-size: var(--font-md);
  letter-spacing: 0.15px;
}

.search {
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 600px) {
}

.demo {
  padding: 4rem 0;
}
.demo * {
  margin: 2rem;
}

/* layout */

#root {
  max-width: var(--container-width);
  width: 100%;
}

#__Header,
#__Hero,
#__Main,
#__Footer {
  width: 100%;
}

#__Layout,
#__Header,
#__Hero {
  background-color: var(--light);
}

#__Header {
  padding: 3.625rem var(--spacing-xl);
}

#__Hero {
  padding: 0 var(--spacing-xl);
  height: 800px;
}

#__Main {
  background-color: #eff1f7;
  padding: var(--spacing-xl) var(--spacing-xl--y);
}

#__Footer {
  background-color: #232127;
  padding: var(--spacing-md--y) var(--spacing-xl);
}
