:root {
  --gray-dark: #34313d;
  --violet-dark: #3a3054;
  --violet: #4b3f6b;
  --gray: #9e9aa8;
  --gray-light: #979797;
  --light: white;
  --green: #2bd0d0;
  --green-hover: #9ae3e3;

  --font-xl: 5rem; /*80px*/
  --font-lg: 2.5rem; /*40px*/
  --font-md-lg: 1.375rem; /*22px*/
  --font-md: 1.5rem; /*20px*/
  --font-sd-lg: 1.125rem; /*18px*/
  --font-sd: 15px; /*15px*/
  --font-xs: 12px; /*12px*/

  --spacing-xl--y: 165px;
  --spacing-md--y: 72px;
  --spacing-st--y: 48px;
  --spacing-sm--y: 16px;

  --transition-sd: 0.8s;
  --transition-sm: 0.5s;
  --transition-xs: 0.3s;

  --container-width: 1440px;

  --font: 'Poppins', sans-serif;
}

h1,
h2 {
  color: var(--gray-dark);
}
h1 {
  font-size: var(--font-xl);
  font-weight: bold;
  line-height: 90px;
  letter-spacing: -2px;
}
h2 {
  font-size: var(--font-lg);
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: -1;
}
h4 {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.25px;
}

.text-sm {
  font-size: 15px;
  line-height: 1.625;
}

.text-md-lg {
  font-size: var(--font-md-lg);
  color: var(--gray);
  line-height: 2.25rem;
  letter-spacing: 0.15px;
}

.text-sd-lg {
  font-size: var(--font-st-lg);
  color: var(--gray);
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.12px;
}

.text-sd {
  font-size: var(--font-sd);
  font-weight: 500;
  color: var(--gray);
  line-height: 1.625rem;
  letter-spacing: 0.12px;
}

.text-lg {
  font-size: 15px;
  line-height: 1.625rem;
}

.text-light {
  color: white;
}

a {
  text-decoration: none;
}

.nav_link {
  font-size: var(--font-sd);
  font-weight: bold;
  color: var(--gray);
}

.nav_burger {
  font-size: var(--font-sd-lg);
  font-weight: bold;
  color: var(--gray);
}

.btn {
  color: var(--light);
  text-align: center;
  background-color: var(--green);
  border: none;
  transition: var(--transition-sm);
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.btn:hover {
  transition: var(--transition-sm);
  background-color: var(--green-hover);
}

.btn_rounded-big {
  font-size: var(--font-md);
  color: white;
  font-weight: bold;
  border-radius: 28px;
  text-transform: capitalize;
  padding: 9px 22px;
}

.btn_rounded-medium {
  font-size: 18px;
  color: white;
  font-weight: bold;
  border-radius: 28px;
  text-transform: capitalize;
  padding: 13px 22px;
}

.btn_rounded-small {
  font-size: 15px;
  color: white;
  font-weight: bold;
  border-radius: 28px;
  text-transform: capitalize;
  padding: 9px 22px;
}

.btn--big {
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  width: 188px;
  height: 64px;
  padding: 0;
}

@media screen and (max-width: 1080px) {
  .btn--big {
    width: 100%;
    border-radius: 5px;
  }
}

@media screen and (max-width: 760px) {
  .btn--big {
    height: 3rem;
    font-size: 1.125rem;
  }
}

.btn--xs {
  font-size: var(--font-sd);
  font-weight: bold;
  width: 103px;
  height: 40px;
  padding: 0;
  font-size: 15px;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.btn--xs[data-active='true'] {
  transition: background-color 0.5s;
  background-color: var(--violet);
}

.full_W {
  max-width: 100%;
  width: 100%;
}

.search {
  padding: 12px 2rem;
  font-size: var(--font-md);
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0.15px;
  border-radius: 10px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid transparent;
}

.search::placeholder {
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--gray-dark);
  letter-spacing: 0.15px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 50%;
  text-indent: 0;
  padding: 0;
  margin: 0;
}

.search_invalid {
  border: 2px solid #f46363;
}

@media screen and (max-width: 760px) {
  .search {
    height: 3rem;
    padding: 0px 16px;
    border-radius: 5px;
    line-height: 42px;
    font-size: 16px;
    letter-spacing: 0.12px;
  }

  .search::placeholder {
    font-size: 16px;
    letter-spacing: 0.12px;
    font-weight: 700;
  }
}

.demo {
  padding: 4rem 0;
}
.demo * {
  margin: 2rem;
}

/* layout */

#root {
  max-width: var(--container-width);
  width: 100%;
}

#__Header,
#__Hero,
#__Main,
#__Footer {
  width: 100%;
}

#__Layout {
  position: relative;
}

#__Header,
#__Hero {
  background-color: var(--light);
}

#__Header {
  padding: 3rem var(--spacing-xl--y) 23px;
}

#__Hero {
  padding: 0 0 138px var(--spacing-xl--y);
}

#__url_short:before {
  content: ' ';
  position: absolute;
  background-color: white;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
}

#__LinkGenerateByApi {
  padding: 0 var(--spacing-xl--y) 0 var(--spacing-xl--y);
  background-color: #eff1f7;
}

@media screen and (max-width: 1080px) {
  #__Hero {
    padding: 0 var(--spacing-xl--y) 222px var(--spacing-xl--y);
  }
}

@media screen and (max-width: 600px) {
  #__Hero {
    padding: 0 0 100px 24px;
  }
}

#__Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 104px var(--spacing-xl--y) var(--spacing-xl) var(--spacing-xl--y);
  background-color: #eff1f7;
}

#__Footer {
  padding: var(--spacing-md--y) var(--spacing-xl--y);
  background-color: #232127;
}

@media screen and (max-width: 1440px) {
  :root {
    --spacing-xl--y: 80px;
    --spacing-md--y: 36px;
    --spacing-st--y: 24px;
    --spacing-sm--y: 16px;
  }

  h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --spacing-xl--y: 96px;
    --spacing-md--y: 32px;
    --spacing-st--y: 24px;
    --spacing-sm--y: 16px;
  }

  #__Header {
    padding: 2.5rem var(--spacing-xl--y) 23px;
  }

  #__Main {
    padding: 80px var(--spacing-xl--y) 80px var(--spacing-xl--y);
  }
}
@media screen and (max-width: 600px) {
  :root {
    --spacing-xl--y: 24px;
    --spacing-md--y: 24px;
    --spacing-st--y: 24px;
    --spacing-sm--y: 24px;
  }

  h2 {
    font-size: 1.75rem;
  }

  .text-md-lg {
    font-size: var(--font-sd-lg);
    line-height: 30px;
    letter-spacing: 0.12px;
  }

  #__Footer {
    padding: 54px var(--spacing-xl--y);
  }
}

svg {
  margin: 0;
}
