:root {
  --gray-dark: #34313d;
  --violet-dark: #3a3054;
  --violet: #4b3f6b;
  --gray: #9e9aa8;
  --gray-light: #979797;
  --light: white;
  --green: #2bd0d0;

  --font-xl: 5rem; /*80px*/
  --font-lg: 2.5rem; /*40px*/
  --font-md-lg: 1.375rem; /*22px*/
  --font-md: 1.5rem; /*20px*/
  --font-sd-lg: 1.125rem; /*18px*/
  --font-sd: 15px; /*15px*/
  --font-xs: 12px; /*12px*/

  --spacing-xl: 165px;
  --spacing-md: 64px;
  --spacing-st: 32px;
  --spacing-sm: 16px;

  --spacing-xl--y: 120px;
  --spacing-md--y: 72px;
  --spacing-st--y: 48px;
  --spacing-sm--y: 16px;

  --transition-sd: 0.8s;
  --transition-sm: 0.5s;
  --transition-xs: 0.3s;

  --container-width: 1440px;

  --font: "Poppins", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #eff1f7;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
